mixin svg(href)
  svg 
    use(xlink:href=href)

mixin soc-line
  ul.soc-line.flex-sb
    li 
      a.soc(href="#") 
        +svg("img/sprite.svg#mail")
    li 
      a.soc(href="#") 
        +svg("img/sprite.svg#tg")
    li 
      a.soc(href="#") 
        +svg("img/sprite.svg#viber")
    li 
      a.soc(href="#") 
        +svg("img/sprite.svg#inst")
    li 
      a.soc(href="#") 
        +svg("img/sprite.svg#fb")

mixin button(type, href='#', content)
  case type
    when 'g'
      a.g-button.button(href=href)= content
    when 't'
      a.t-button.button(href=href)= content

mixin buttonLine
  .button-line 
    +button('g', '#order', 'замовити')
    //- +button('t', '#order', 'детальніше')

mixin preference(img, title, desc1, desc2)
  .preference
    .gradient-bg 
      +svg(img)
    h3= title 
    .desc
      p=desc1 
      p=desc2 
    .order
      a.order-link(href="#contacts") замовити 

mixin service(title, desc1, desc2)
  .service 
    .service-info.flex-sb 
      h4=title 
      <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35 19" id="arrow-down">
        <path d="M17.5 19L0.179491 0.249997L34.8205 0.25L17.5 19Z" fill="url(#paint0_linear_151_90)"></path>
        <defs>
          <linearGradient id="paint0_linear_151_90" x1="2" y1="10.5" x2="35" y2="7" gradientUnits="userSpaceOnUse">
            <stop stop-color="#7FC6E7"></stop>
            <stop offset="1" stop-color="#954079"></stop>
          </linearGradient>
        </defs>
      </svg>
    .service-desc 
      p=desc1 
      if desc2
        p=desc2 

mixin creatingFigure(img, alt, title, price, height)
  figure 
    img(src=img, alt=alt) 
    span.g-line
    figcaption 
      h4=title
      p.price ціна - 
        =price
      if height 
        p.height висота - 
          =height

mixin promo( title, price, desc, ...items)
  .promo-item
    .gradient-bg 
      h3= title 
    .desc
      p.price=price
      ul.components 
        each item in items 
          li= item
      p=desc
    .order
      a.order-link(href="#contacts") замовити 